#main{
	width:100%;
	border:none;
	text-align: center;
}
#mainFooter{
	margin:10px auto;
	border:1px solid #ddd;
	width:80%;
	height:24px;
}
#mainFooter:after{
	clear:both;
	content: "";
	display: block;
}
#mainFooter div{
	float:left;
	margin-left: 10px;
}
#mainFooter #dltAll{
	float:right;
	margin-right: 10px;
}